/* @import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

@import 'tailwindcss';

@theme inline {
	--color-background: var(--theme-bg);
	--color-foreground: var(--theme-fg);

	--color-primary: var(--theme-primary);
	--color-primary-foreground: var(--theme-primary-fg);

	--color-secondary: var(--theme-secondary);
	--color-secondary-foreground: var(--theme-secondary-fg);

	--color-accent: var(--theme-accent);
	--color-accent-foreground: var(--theme-accent-fg);

	--color-destructive: var(--theme-destructive);
	--color-destructive-foreground: var(--theme-destructive-fg);

	--font-sans: var(--theme-font);
}

:root {
	--theme-bg: #002400;
	--theme-fg: #dcd3e0;
	--theme-font: 'MedievalSharp', cursive;
}

html,
body {
	background-color: var(--theme-bg);
	color: var(--theme-fg);
	margin: 0;
	padding: 0;
	overscroll-behavior: none;
}

.safe-top {
	padding-top: env(safe-area-inset-top);
}

.safe-bottom {
	padding-bottom: env(safe-area-inset-bottom);
}

.safe-x {
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
}

/* forest */
[data-theme='forest'] {
	/* --theme-font: 'Fleur De Leah', cursive; */
	/* --theme-font: 'Kablammo', system-ui; */
	--theme-font: 'MedievalSharp', cursive;

	--theme-bg: #002400;
	--theme-fg: #dcd3e0;

	--theme-primary: #58641d;
	--theme-primary-fg: #dbd2e0;

	--theme-secondary: #273b09;
	--theme-secondary-fg: #7b904b;

	--theme-accent: var(--color-lime-400);
	--theme-accent-fg: var(--color-lime-800);

	--theme-destructive: #b99dc8;
	--theme-destructive-fg: #dbd2e0;
}

[data-theme='forest'] [data-value] {
	color: var(--color-green-400);
}

/* rainbow */
[data-theme='rainbow'] {
	--theme-font: 'Lexend', sans-serif;
	--theme-bg: var(--color-slate-950);
	--theme-fg: var(--color-white);
}

[data-theme='rainbow'] [data-value='1'] {
	color: var(--color-red-500);
}
[data-theme='rainbow'] [data-value='2'] {
	color: var(--color-orange-500);
}
[data-theme='rainbow'] [data-value='3'] {
	color: var(--color-yellow-500);
}
[data-theme='rainbow'] [data-value='4'] {
	color: var(--color-yellow-499);
}
[data-theme='rainbow'] [data-value='5'] {
	color: var(--color-yellow-498);
}
[data-theme='rainbow'] [data-value='6'] {
	color: var(--color-yellow-497);
}
[data-theme='rainbow'] [data-value='7'] {
	color: var(--color-yellow-496);
}
[data-theme='rainbow'] [data-value='8'] {
	color: var(--color-yellow-496);
}
[data-theme='rainbow'] [data-value='9'] {
	color: var(--color-yellow-500);
}
